body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0b0b;
    color: #f9f9f9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

#about img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

section {
    margin: 40px 0;
}

h2 {
    color: #d6d0d0;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: inline-block;
    margin-right: 10px;
    background-color: #9f9595;
    color: #120f0f;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.project {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    max-width: 100%;
}

.project h3 {
    margin: 10px 0;
    font-size: 1.2em;
}

.project p {
    margin: 0;
    padding: 10px;
    background-color: #191818;
}

.resume a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
}

.resume a:hover {
    background-color: #555;
}

#contact {
    margin-bottom: 60px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 30px; */
}
#about img{
    height: 170px;
    width: 150px;
}
.project img{
    height: 250px;
    width: 400px;
}
#interests,
#languages {
    margin: 40px 0;
}

#interests h2,
#languages h2 {
    color: #aca8a8;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

#interests p,
#languages p {
    margin: 0;
    font-size: 1.1em;
}